<template>
  <div class="home">
    <div v-if="$route.params.id !== undefined">
      <router-link to="/test">Ваши тесты</router-link> |
      <router-link to="/stat">Ваша статситика</router-link>
      <h1>{{$store.getters.course($route.params.id).title}}</h1>
    </div>
    <h1 v-else>
      Выберите урок в <router-link to="/timetable">расписании</router-link>
    </h1>
  </div>
</template>

<style lang="scss" scoped>

  div {
    text-align: center;
    padding-top: 20px;

    a {
      text-decoration: none;
      font-size: 20px;
      color: #2c3e50;
    }

    h1 {
      text-align: center;

      a {
        text-decoration: none;
        color: crimson;
      }
    }
  }
</style>
