<template>
  <div class="timetable">

    <ul>
      <router-link
        tag="li"
        v-for="item in arr"
        :to="'/course/'+item.id"
        :key="item.id+Math.random()">
        {{item.title}}
      </router-link>
    </ul>

    <div id="nav"
         v-if="$store.getters.links($store.getters.current).length > 1">
      <router-link
        v-for="index in $store.getters.links($store.getters.current)"
        :to="'/timetable/' + (index+1)"
        :key="Math.random() + index"
        :class="{'router-link-exact-active': (index === 0 && !$route.params.page)}">
        {{index+1}}
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    page() {
      return this.$route.params.page ? (this.$route.params.page - 1) : 0;
    },
    arr() {
      return this.$store.getters.timetable(this.$store.getters.current, this.page);
    },
  },
  watch: {
    arr(v) {
      if (v.length === 0 && this.$route.params.page !== undefined && this.$route.params.page !== 1) { // eslint-disable-line
        this.$router.push('/timetable/' + (this.$route.params.page - 1)); // eslint-disable-line
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  ul {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    padding: 0;
    li {
      list-style-type: none;
      margin: 20px 0;
      font-size: 20px;
      cursor: pointer;
    }
  }

  #nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 0;

    a {
      font-weight: bold;
      color: #233848;
      text-decoration: none;
      margin: 0 5px;
      transition: color .2s ease-in-out;

      &.router-link-exact-active {
         color: crimson;
      }

      &:hover {
         color: crimson;
      }
    }
  }
</style>
