<template>
  <div id="app">
    <div id="nav">
      <span class="logo">MAXIMUM EDUCATION</span>
      <div class="select-box">
        <div class="select-box__current" tabindex="1">
          <div class="select-box__value"
               v-for="item in $store.getters.courses"
               :key="item.id + Math.random()">
            <input class="select-box__input"
                   type="radio"
                   :id="item.id"
                   :value="item.id"
                   name="Ben"
                   checked="checked"
                   v-model="current"/>
            <p class="select-box__input-text">{{item.name}}</p>
          </div>
          <img class="select-box__icon"
               src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
               alt="Arrow Icon"
               aria-hidden="true" />
        </div>
        <ul class="select-box__list">
          <li v-for="item in $store.getters.courses"
              :key="item.id + Math.random()">
            <label class="select-box__option"
                   :for="item.id"
                   aria-hidden="aria-hidden">
              {{item.name}}
            </label>
          </li>
        </ul>
      </div>
      <router-link to="/">Home</router-link> |
      <router-link to="/timetable">Timetable</router-link>
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  computed: {
    current: {
      get() {
        return this.$store.getters.current;
      },
      set(v) {
        this.$store.commit('current', v);
      },
    },
  },
};
</script>

<style lang="scss" scoped>

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

#app {
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  /*color: #2c3e50;*/
  padding: 0;
  margin: 0;
  width: 100vw;
}

#nav {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid crimson;

  .logo {
    margin-right: 100px;
    font-size: 20px;
    white-space: nowrap;

    @media (max-width: 900px) {
      margin-right: 20px;
    }
  }

  a {
    margin: 0 20px;
    color: #2c3e50;
    text-decoration: none;
    font-weight: 400;

    &.router-link-exact-active {
      color: #42b983;
    }
  }

  .select-box {
    position: relative;
    display: block;
    /*width: 100%;*/
    /*margin: 0 auto;*/
    font-size: 18px;
    color: #60666d;

    @media (min-width: 768px) {
      width: 70%;
    }

    @media (min-width: 992px) {
      width: 50%;
    }

    @media (min-width: 1200px) {
      width: 200px;
    }

    &__current {
      position: relative;
      cursor: pointer;
      outline: none;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;

      &:focus {
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        & + .select-box__list {
          opacity: 1;
          animation-name: none;

          .select-box__option {
            cursor: pointer;
          }
        }

        .select-box__icon {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 20px;
      opacity: 0.3;
      transition: 0.2s ease;
    }

    &__value {
      display: flex;
    }

    &__input {
      display: none;

      &:checked + .select-box__input-text {
        display: block;
      }
    }

    &__input-text {
      display: none;
      width: 100%;
      margin: 0;
      padding: 15px;
      background-color: #fff;
    }

    &__list {
      margin: 0;
      position: absolute;
      width: calc(100% - 2px);
      padding: 0;
      list-style: none;
      opacity: 0;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;

      animation-name: HideList;
      animation-duration: 0.5s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: step-start;
      box-shadow: 0 0 1px transparentize(#000, 1);
    }

    &__option {
      display: block;
      padding: 15px;
      background-color: #fff;

      &:hover,
      &:focus {
        color: #546c84;
        background-color: #fbfbfb;
      }
    }
  }
}
</style>
